<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="icon" href="/static/images/logo.png">
  <title>r.manissha</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen w-screen">
  <div class="flex h-full">
    
    <!-- Left Half -->
    <div class="w-1/2 bg-white flex flex-col items-center justify-center p-8">
      <!-- Square image frame -->
      <div class="w-[262.6px] h-[300px] object-cover border-gray-400 ">
        <img src="/static/images/me.jpg" alt="Profile" class="w-full h-full object-cover">
      </div>

      <!-- Name -->
      <p class="mt-6 text-[28px] font-[Open_Sans] font-bold text-gray-800">Manissha Rajeindran
      </p>

      <p class="mt-2 text-[18px] font-[Open_Sans] font-light text-gray-800">Biomedical Engineer</p>

      <!-- Email Me Button -->
      <button class="mt-4 px-6 py-2 w-[262.6px] h-[46px] bg-[#12229d] text-white font-[Open_Sans] text-[11px]  font-bold hover:bg-blue-700">
        Email Me
      </button>

      <!-- Social Icons -->
      <div class="flex space-x-6 mt-6">
        <!-- GitHub -->
        <a href="https://github.com/rmanissha8" target="_blank" class="text-gray-700 hover:text-black text-2xl">
          <i class="fab fa-github"></i>
        </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/manissha-rajeindran-03807a24a/" target="_blank" class="text-blue-700 hover:text-blue-900 text-2xl">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
    
    <!-- Right Half -->
    <div class="w-1/2 bg-[#050a30] text-[18px] text-white flex flex-col justify-center p-12">
      <!-- Heading -->
      <h2 class="text-[#cae8ff] text-[42px] font-bold mb-4">About Me</h2>
      <p class="mb-6 leading-relaxed text-lg">
        I am a tech-savvy individual with a Bachelor's degree in Biomedical Engineering, 
        seeking employment as a Robotics Research Engineer. 
        I am passionate about consistently advancing my knowledge and skills. 
        
      </p>
      
      <!-- Buttons -->
      <div class="flex space-x-12 mt-12">
        <button class="px-6 py-2 w-[262.6px] h-[46px] bg-[#12229d] text-white font-[Open_Sans] text-[11px]  font-bold hover:bg-blue-700">
          Resume
        </button>
        <button class="px-6 py-2 w-[262.6px] h-[46px] bg-[#12229d] text-white font-[Open_Sans] text-[11px]  font-bold hover:bg-blue-700">
          Portfolio
        </button>
      </div>
      <div class="flex space-x-4 justify-center mt-6">

    </div>
    
  </div>
</body>
</html>
